* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header .logo {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

header .logo span {
    color: #f9004d;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
}

header ul li a {
    color: black;
    text-decoration: none;
}

header ul li a:hover {
    color: #f9004d;
}

header p {
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #b36982;
    border-radius: 30px;
    transition: 0.3s;
}

header p:hover {
    color: white;
    background: #b36982;
}

.texts p {
    margin: 100px 0;
    width: 650px;
    line-height: 26px;
    text-align: justify;
    font-size: 15px;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.about .box{
    margin-top: 60%;
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .box .card{
    width: 170px;
    height: auto;
    padding: 5px 10px;
    margin: 0 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.about .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 5px;
}

.about .box .card img{
    width: 150px;
}

.footer {
    background: #24262b;
    padding: 50px;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer .main {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_col {
    width: 25%;
    padding: 0 15px;
}

.footer_col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer_col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li {
    margin-bottom: 20px;
}

.footer_col ul li a {
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

.footer_col .social img {
    width: 20px;
    margin: 5px;
}